{% extends 'donor/donorbase.html' %}
{% load static %}

{% block title %}Financial Donation - BloodConnect{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0"><i class="fas fa-hand-holding-usd me-2"></i>Make a Donation</h4>
        </div>
        <div class="card-body">
            <p class="lead">Your support helps us save more lives.</p>
            
            <div class="row text-center g-3">
                <div class="col-4">
                    <button class="btn btn-outline-primary w-100">$10</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-primary w-100">$25</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-primary w-100">$50</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-primary w-100">$100</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-primary w-100">$250</button>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" placeholder="Other">
                </div>
            </div>
            
            <button class="btn btn-success btn-lg w-100 mt-4">Donate Now</button>
        </div>
    </div>
</div>
{% endblock %}