<footer class="public-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-heartbeat"></i> BloodConnect</h5>
                <p>Saving lives through blood donation</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Info</h5>
                <p>
                    <i class="fas fa-envelope"></i> support@bloodconnect.com<br>
                    <i class="fas fa-phone"></i> +254 700 000 000<br>
                    <i class="fas fa-map-marker-alt"></i> Nairobi, Kenya
                </p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <small>&copy; {% now "Y" %} BloodConnect. All rights reserved.</small>
        </div>
    </div>
</footer>